scipy==1.12.0
entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
numpy==1.24.2
pandas==2.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.2
pytz==2020.1
six==1.13.0
gensim==4.3.1
nltk==3.8.1
scikit_learn==1.2.2
category_encoders==2.6.0
matplotlib==3.9.0
recordlinkage==0.16